# ✅ 환경변수
.env

# ✅ Flutter 관련
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
.packages
GeneratedPluginRegistrant.java
lib/generated_plugin_registrant.dart

# ✅ 안드로이드 빌드 및 키 파일
android/.gradle/
android/app/build/
android/local.properties
android/key.properties
android/app/google-services.json
android/app/**/*.keystore
android/app/**/*.jks
android/app/**/*.p12

# ✅ iOS 관련
**/ios/Flutter/.last_build_id

# ✅ 사용자 로그/캐시 등
*.log
*.swp
*.pyc
*.class
.history
.DS_Store

# ✅ IDE 설정 (IntelliJ, VS Code)
.idea/
*.iml
*.ipr
*.iws
.vscode/

# ✅ 심볼/난독화 관련
app.*.symbols
app.*.map.json

# ✅ Android NDK / CMake 빌드 캐시 제거
android/app/.cxx/